.div10 {
    color: #323231;
    text-align: left;
    font-family: "Eastman-Black", sans-serif;
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
    position: relative;
    align-self: stretch;
}
